html {
    scroll-behavior: smooth;
  }
* {box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: pink; */
    background-image: url('bckg1.jpg');
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: larger;
    /* background: rgb(252,70,107);
    background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 77%, rgba(63,94,251,1) 100%); */
  }

  input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .wrapper{
        animation: drop-in 1s ease 200ms backwards;
      }
       @keyframes drop-in {
        from {
         opacity: 0;
         transform: translateY(-100px);
        }
        to {
         opacity: 1;
         transform: translate(0px);
        }
       }
    .wrapper {
        margin: auto;
        width: 97%;
        max-width: 600px;
        display: grid;
        align-items: center;
        justify-content: space-between;
	    grid-row: 2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        gap: 20px;
        /* max-width: 60%; */
    }
        .tipheader {
            text-align: left;
            /* border: 1px solid rgba(255, 255, 255, 0.347); */
            color: rgb(33, 32, 32);
            border-radius: 15px;
            margin: 50px auto 0;
            padding: 30px 30px; 
            grid: 1;
            background: rgba(245, 245, 245, 0.235);
            /* background: rgba(11, 11, 11, 0.523); */
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 15px );
            -webkit-backdrop-filter: blur( 15px );

        }
        .container {
            color: white;
            max-width: 100%;
            margin: 50px auto 80px;
            padding: 50px 30px 0px 30px;
            justify-content: space-between;
            /* border: 1px solid rgba(255, 255, 255, 0.347); */
            border-radius: 15px; 
            grid: 2; 
            background:rgba(11, 11, 11, 0.401);
             /* rgba( 255, 255, 255, 0.4 ); */
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 20px );
            -webkit-backdrop-filter: blur( 20px );
        }

        #tipCalculatorForm {
            font-size: 20px;

        }

        ::placeholder {
            color: rgba(255, 255, 255, 0.576); 
        }

        input[type="range"] {
            -webkit-appearance: none;
            appearance: none; 
            width: 60%;
            cursor: pointer;
            outline: none;
            border-radius: 1px;
            height: 28px;
            background: #cccccc46;
          }
          

          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none; 
            height: 20px;
            width: 20px;
            background-color: rgb(247, 105, 3);
            border-radius: 50%;
            border-color: white;
            transition: .2s ease-in-out;
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.994)
          }
          
          
          input[type="range"]::-webkit-slider-thumb:hover {
            box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.994)
          }
          input[type="range"]:active::-webkit-slider-thumb {
            box-shadow: 0 0 0 8px rgba(61, 215, 235, 0.274)
          }
          
          .billwrapper {
            display: flex;
            justify-content: flex-start;
            gap: auto;
            width: auto;
            padding: 30px 0px 30px 0px;
            align-items: center;
        }

          #billTotal {
            width: auto;
            color: white;
            background: #cccccc46;
            border: none;
            border-radius: 15px;
            padding-left: 10px;
            height: 30px;
            font-size: 16px;
            margin: 10px;
            

          }

          input[type="button"]{
            border-radius: 15px;
            text-align: center;
            height: 30px;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.25);
            color: white;
            transition: 0.25s ease-in-out;
          }
          input[type="button"]:hover{
            background-color: white;
            color: black;
            transition: 0.25s ease-in-out;
          }

          .tipwrapper {
            display: flex;
            flex-grow: 1;
            gap: 10px;
            width: auto;
            padding: 30px 0px 40px 0px;
            justify-content: flex-start;
            align-items: center;
          }

          #tipPercentage {
            width: 20%;
            height: 28px;
            text-align: center;
            appearance: none;
            color: white;
            background-color: rgba(0, 0, 0, 0.657);
            border: none;
            border-radius: 15px;
            /* margin: 1px; */
          }

          #tipSlider {
            border-radius: 15px;
            width: 90%;
            padding: 5px
          }

          .tipAmtWrapper {
            width: 100%;
            display: flex;
            padding: 30px 0px 40px 0px;
            justify-content:flex-start
            align-items: center;
          }

          #tipAmount {
            background-color: transparent;
            width: 40%;
            border: none;
            padding-left: 30px;
            color: white;
            font-size: 20px;
            font-weight: bolder;
            text-decoration: underline rgb(255, 255, 255);
            -webkit-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
          }

          #tipAmount:hover {
            -webkit-transform: scale(1.3, 1.3);
                    transform: scale(1.3, 1.3); 
          }

          .totalWrapper {
            display: flex;
            padding: 30px 0px 30px 0px;
            justify-content:flex-start
            align-items: center;
          }

          #totalWithTip {
            background-color: transparent;
            width: 40%;
            border: none;
            padding-left: 30px;
            color: white;
            font-size: 20px;
            font-weight: bolder;
            text-decoration: underline rgb(255, 255, 255);
            -webkit-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
          }
          #totalWithTip:hover {
            -webkit-transform: scale(1.3, 1.3);
                    transform: scale(1.3, 1.3); 
          }
          
          .lablabel {
            text-align: center;
            font-size: 10px;
            color: #ddddddd9;
            padding: 60px 0 20px 0;
          }